certifi
Click
Flask == 2.2.2
Flask-SQLAlchemy
Gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
psycopg2
python-dateutil
pytz
six
scikit-learn == 1.0.2
SQLAlchemy
Werkzeug
wincertstore
flask_cors
pickle4 == 0.0.1
pickleshare == 0.7.5