<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stroke Machine Learning Prediction</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
  {% include 'navbar.html' %}
    <div class="container my-container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Machine Learning Analysis</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card">
              <img src="../static/images/bmi.png" class="card-img-top" alt="bmi by age plot">
              <div class="card-body">
                <p class="card-text">This chart shows if there is a correlation between age and BMI that indicates a risk
                  of stroke.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card2">
              <img src="../static/images/glucose.png" class="card-img-top" alt="glucose by bmi plot">
              <div class="card-body">
                <p class="card-text">This chart shows if there is a correlation between glucose levels and BMI that indicates a risk
                  of stroke.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card3">
              <img src="../static/images/correlation.png" class="card-img-top" alt="correlation of features">
              <div class="card-body">
                <p class="card-text">This risk heat map demonstrates the correlation between each machine learning feature that might
                  indicate a risk of stroke.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

</body>
</html>